@font-face {
	font-family: ComicNeue;
	src: url('fonts/ComicNeue-Regular.ttf')
  }

body {
	margin: 0;
	padding: 0;
	font-size: 20px;
	background-color: rgb(168, 223, 236);
}

.image {
	display: inline-block;
	text-align:center;
	width: 33%;
	float:left;
}
figure {
	overflow: hidden;
	margin: 0 10px;
}

p {
	padding: 0 10px;
}
.image img {
	display:block;
	width: 100%;
	height: auto;
	cursor: pointer;
}
.image #zoom-In figure img {
	transform: scale(1);
	transition: 0.3s ease-in-out;
}
.image #zoom-In figure:hover img {
	transform: scale(1.3);
}

h1{
	color: hotpink;
	font-size: 24px;
	font-family: ComicNeue;
	background: rgb(247, 238, 241);
	padding: 5px;
	padding-left: 10px;
	font-style:italic;
}

h2{
	color: hotpink;
	font-size: 20px;
	font-family: ComicNeue;
	background: rgb(247, 238, 241);
	padding: 5px;
	padding-left: 10px;
	font-style:italic;
}


.container{
	display: flex;
	justify-content: center;
}

.linkbox{
	display: flex;
	justify-content: center;
	flex-flow:wrap;
	background: rgb(247, 238, 241);
}

.linkbox a{
	font-size:medium;
	margin: 10px;
	color: rgb(25, 127, 223);
	transform: scale(1);
	transition: 0.2s ease-in-out;
	font-style: italic;
	font-size: normal;
	font-family: ComicNeue;
}

.linkbox a:hover{
	color: rgb(40, 194, 255);
	transform: scale(1.15);
}

.smallbox{
	display: flex;
	justify-content: center;
	color: rgb(255, 245, 250);
	background: rgb(255, 92, 146);
	font-style: italic;
	font-size: large;
	font-family: ComicNeue;
	padding-block: 3px;
}

.infobox{
	display: flex;
	color: rgb(40, 40, 40);
	font-size: medium;
	font-style: italic;
	font-family: ComicNeue;
	padding-block: 3px;
}

.meowicon{
	margin-left: 15px;
	width: 25%;
	transform: scale(1);
	transition: 0.3s ease-in-out;
}
.meowicon:hover{
	transform: scale(0.9);
}

.rightstext{
	font-size: small;
	color: rgb(40, 40, 40);
}

